.auth-container {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(to right, #0f172a, #334155);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
}

.auth-card-base {
  position: absolute;
  top: 3%;
  left: -3%;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background: linear-gradient(90deg, hsla(223, 90%, 60%, 0.279), hsla(223, 90%, 50%, 0.489));
  z-index: -10;
}


.auth-blob {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 600px;
  height: 600px;
  background: #6366f1;
  opacity: 0.3;
  border-radius: 50%;
  filter: blur(100px);
  z-index: 0;
}

.auth-glass {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.auth-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-title {
  font-size: 2rem;
  font-weight: bold;
}

.auth-subtitle {
  font-size: 0.9rem;
  color: #cbd5e1;
}

.auth-fields{
    z-index: 50;
}

.auth-fields label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
  color: #fff;
}

.auth-fields input {
  width: 100%;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 0.95rem;
}

.auth-button {
  width: 100%;
  padding: 0.65rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: background 0.2s;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.auth-footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: #cbd5e1;
}

.auth-footer button {
  color: #93c5fd;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.auth-hint {
  font-size: 0.75rem;
  margin-top: -0.75rem;
  margin-bottom: 0.75rem;
}
.hint-loading {
  color: #cbd5e1;
}
.hint-available {
  color: #4ade80;
}
.hint-taken {
  color: #f87171;
}

.auth-message {
  text-align: center;
  margin-top: 0.75rem;
  font-size: 0.85rem;
  color: #f87171;
}
